body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 22px;
}

header {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    font-size: 26px;
    color: black;
    font-weight: bold;
    
}

.nav-right a {
    text-decoration: none;
    margin-left: 12px;
    font-size: 24px;
    color: blue;
}

.nav-right a:hover {
    text-decoration: underline;
}

.flex-space {
    flex-grow: 1;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.intro, .projects {
    margin-bottom: 40px;
}

.intro p {
    margin-bottom: 10px;
}

.intro a {
    text-decoration: none;
    color: blue;
}

.intro a:hover {
    text-decoration: underline;
}

.socials a {
    margin-right: 12px; /* Adjust this value to increase or decrease spacing */
    text-decoration: none;
    color: blue;
}

.socials a:last-child {
    margin-right: 0; /* Remove right margin for the last link */
}

.projects a {
    text-decoration: none;
}

.projects a:hover{
    text-decoration: underline;
}

.projects a:visited {
    color: blue;
}
.projects h4 {
    font-size: 22px;
    margin-bottom: -10px;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 40px 0;
}

.twitter-tweet {
    margin-top: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.about a {
    text-decoration: none;
}

.about a:hover{
    text-decoration: underline;
}

.about-photo img {
    max-width: 600px;
    margin: 20px auto;
}

.about-content {
    max-width: 800px;
}

.instagram {
    background: linear-gradient(45deg, #ff7a00, #ff0069, #d300c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.image img {
    max-width: 100%;
}

.masonry {
    column-count: 2;
    column-gap: 10px;
}

.masonry-item {
    break-inside: avoid;
    margin-bottom: 10px;
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
}

.cameras {
    font-size: 18px;
}

.copyright {
    font-size: 18px;
    text-align: center;
    margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }
    .nav-left a {
        font-size: 22px; /* Slightly reduce font size on mobile */
    }

    .nav-right a {
        font-size: 20px; /* Slightly reduce font size on mobile */
    }

    .projects h4 {
        font-size: 20px; /* Slightly reduce font size on mobile */
    }

    .about {
        flex-direction: column;
    }

    .about-photo img {
        width: 100%;
    }

    .about-content {
        max-width: 100%;
    }

    .masonry {
        column-count: 1;
        column-gap: 10px;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
}
